<div class="container">
    <div class="row my-3">
        <div class="card text-center p-4 shadow-lg bg-white">
            <div class="card-body">
                <div class="icon-failed mb-3">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
                <h2 class="card-title text-danger">Transaction Failed</h2>
                <p class="card-text text-muted">Unfortunately, your payment couldn't be processed.<br>Please check your payment details and try again.</p>
                <a href="/Customer/Cart/Index" class="btn btn-danger mt-3">Try Again</a>
            </div>
        </div>
    </div>
</div>