<div class="container">
    <div class="row my-3">
        <div class="card text-center p-4 shadow-lg bg-white">
            <div class="card-body">
                <div class="icon-failed mb-3">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
                <h2 class="card-title text-success">Transaction Successed, Your order numeber is: @Model</h2>
                <p class="card-text text-muted">fortunately, your payment processed</p>
                <a href="/Customer/Cart/Index" class="btn btn-primary mt-3">Go to your orders</a>
            </div>
        </div>
    </div>
</div>