@model ForgetPasswordVM

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-12">
            <h2 class="display-6">Forget Password</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form asp-action="ForgetPassword">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="mb-3">
                    <label for="EmailOrUserName" class="form-label">Email Or UserName</label>
                    <input class="form-control" asp-for="EmailOrUserName">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    <span asp-validation-for="EmailOrUserName" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mb-5">Send</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
    }
