@model ResetPasswordVM

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-12">
            <h2 class="display-6">Reset Password</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form asp-action="ConfirmResetPassword">
                <div class="text-danger" asp-validation-summary="All"></div>
                <input type="hidden" asp-for="Token" />
                <input type="hidden" asp-for="UserId" />
                <div class="mb-3">
                    <label for="Email" class="form-label">Email address</label>
                    <input class="form-control" asp-for="Email" readonly>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input class="form-control" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                    <input class="form-control" asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mb-5">Create</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
    }
