@model ApplicationUser

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-12">
            <h2 class="display-6">Change Role</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="UserName" class="form-label">UserName</label>
                    <input class="form-control" placeholder="UserName" asp-for="UserName" readonly>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="BrandId" class="form-label">Role</label>
                    <select class="form-select" name="RoleName" asp-items="ViewBag.Roles"></select>
                </div>
                
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </form>
        </div>
    </div>
</div>